html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.field {
  margin-top: 150px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  display: block;
}
.value {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  color: rgb(245, 239, 239);
  margin: 5px;
  padding: 5px;
  background-color: #00010c;
  border-top: solid 11 px #c0baba;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 121px;
  line-height: 1;
}
.label {
  font-size: 30px;
}

.go__back {
  color: black;
  text-decoration: none;
}

.go__back:hover {
  color: rgb(214, 2, 30);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.winter {
  background-image: url(../image/peyzazh-priroda-gory-dom-zima.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  outline: none;
  /* border: none; */
  background-color: rgb(248, 242, 242);
  border-radius: 4px;
  width: 128px;
  height: 38px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(158, 158, 235);
  box-shadow: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: white;
}
